USE [QUANLYDAILY]
GO
/****** Object:  Table [dbo].[CHITIETXUATHANG]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETXUATHANG](
	[MaPhieuXuat] [nvarchar](50) NOT NULL,
	[MaMatHang] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[SoLuong] [nvarchar](20) NOT NULL,
	[DonGia] [numeric](18, 0) NULL,
	[ThanhTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETXUATHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC,
	[MaMatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGNO]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGNO](
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[thang] [nvarchar](50) NOT NULL,
	[NoDau] [nvarchar](50) NOT NULL,
	[PhatSinh] [nvarchar](50) NOT NULL,
	[NoCuoi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONGNO] PRIMARY KEY CLUSTERED 
(
	[MaDaiLy] ASC,
	[thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[TenDaiLy] [nvarchar](50) NOT NULL,
	[Loai] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Quan] [nvarchar](50) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NgayTiepNhan] [date] NOT NULL,
	[TienNo] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[ID] [nchar](10) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHSO]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHSO](
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[Thang] [nvarchar](50) NOT NULL,
	[SoPhieuXuat] [nvarchar](50) NOT NULL,
	[TongTriGia] [nvarchar](50) NOT NULL,
	[TiLe] [int] NULL,
 CONSTRAINT [PK_BANGDOANHSO] PRIMARY KEY CLUSTERED 
(
	[MaDaiLy] ASC,
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDAILY]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDAILY](
	[Loai] [nvarchar](50) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[NoToiDa] [money] NOT NULL,
 CONSTRAINT [PK_LOAIDAILY] PRIMARY KEY CLUSTERED 
(
	[Loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MaMatHang] [nvarchar](50) NOT NULL,
	[TenMatHang] [nvarchar](50) NOT NULL,
	[DonGia] [decimal](20, 0) NOT NULL,
 CONSTRAINT [PK_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MaMatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThu] [nvarchar](50) NOT NULL,
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NgayThuTien] [date] NOT NULL,
	[SoTienThu] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUATHANG]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATHANG](
	[MaPhieuXuat] [nvarchar](50) NOT NULL,
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[TongTien] [decimal](18, 0) NULL,
	[NgayLapPhieu] [date] NOT NULL,
 CONSTRAINT [PK_PHIEUXUATHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOCHUCDAILY]    Script Date: 21/06/2021 2:43:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOCHUCDAILY](
	[SoLoaiDaiLy] [nvarchar](50) NULL,
	[SoDaiLyToiDa] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETXUATHANG] ([MaPhieuXuat], [MaMatHang], [DonViTinh], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'X001', N'MH001', N'Chiếc', N'8', CAST(10000 AS Numeric(18, 0)), N'80000')
INSERT [dbo].[CHITIETXUATHANG] ([MaPhieuXuat], [MaMatHang], [DonViTinh], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'X002', N'MH002', N'Chiec', N'3', CAST(8000000 AS Numeric(18, 0)), N'24000000')
INSERT [dbo].[CHITIETXUATHANG] ([MaPhieuXuat], [MaMatHang], [DonViTinh], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'X003', N'MH003', N'Chiec', N'3', CAST(10000000 AS Numeric(18, 0)), N'30000000')
GO
INSERT [dbo].[CONGNO] ([MaDaiLy], [thang], [NoDau], [PhatSinh], [NoCuoi]) VALUES (N'D02', N'01', N'50000', N'100000', N'150000')
INSERT [dbo].[CONGNO] ([MaDaiLy], [thang], [NoDau], [PhatSinh], [NoCuoi]) VALUES (N'D02', N'04', N'50000', N'100000', N'150000')
INSERT [dbo].[CONGNO] ([MaDaiLy], [thang], [NoDau], [PhatSinh], [NoCuoi]) VALUES (N'D03', N'01', N'34000', N'100000', N'134000')
GO
INSERT [dbo].[DAILY] ([MaDaiLy], [TenDaiLy], [Loai], [DiaChi], [Quan], [DienThoai], [Email], [NgayTiepNhan], [TienNo]) VALUES (N'D02', N'Đai Ly B', N'1', N'20-Van Quan', N'08', N'0433828383', N'gjh@gmail.com', CAST(N'2021-04-03' AS Date), CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[DAILY] ([MaDaiLy], [TenDaiLy], [Loai], [DiaChi], [Quan], [DienThoai], [Email], [NgayTiepNhan], [TienNo]) VALUES (N'D03', N'Đai Ly C', N'1', N'20-Van Quan ', N'10', N'0482323723', N'shas@gmail.com', CAST(N'2021-04-03' AS Date), CAST(34000 AS Decimal(18, 0)))
INSERT [dbo].[DAILY] ([MaDaiLy], [TenDaiLy], [Loai], [DiaChi], [Quan], [DienThoai], [Email], [NgayTiepNhan], [TienNo]) VALUES (N'D04', N'Đai Ly D', N'1', N'40-Nguyen Chi Thanh', N'15', N'0328382832', N'eee@gmail.com', CAST(N'2021-01-11' AS Date), CAST(12000 AS Decimal(18, 0)))
GO
INSERT [dbo].[DANGNHAP] ([ID], [username], [password]) VALUES (N'01        ', N'admin', N'admin')
GO
INSERT [dbo].[DOANHSO] ([MaDaiLy], [Thang], [SoPhieuXuat], [TongTriGia], [TiLe]) VALUES (N'D02', N'05', N'1', N'80000', NULL)
INSERT [dbo].[DOANHSO] ([MaDaiLy], [Thang], [SoPhieuXuat], [TongTriGia], [TiLe]) VALUES (N'D03', N'01', N'1', N'120000000', NULL)
INSERT [dbo].[DOANHSO] ([MaDaiLy], [Thang], [SoPhieuXuat], [TongTriGia], [TiLe]) VALUES (N'D03', N'02', N'1', N'80000', NULL)
GO
INSERT [dbo].[LOAIDAILY] ([Loai], [TenLoai], [NoToiDa]) VALUES (N'1', N'đồ gia dụng', 20000.0000)
INSERT [dbo].[LOAIDAILY] ([Loai], [TenLoai], [NoToiDa]) VALUES (N'2', N'đồ nhựa', 50000.0000)
INSERT [dbo].[LOAIDAILY] ([Loai], [TenLoai], [NoToiDa]) VALUES (N'3', N'đồ điện', 100000.0000)
GO
INSERT [dbo].[MATHANG] ([MaMatHang], [TenMatHang], [DonGia]) VALUES (N'MH001', N'Bánh Oreo', CAST(10000 AS Decimal(20, 0)))
INSERT [dbo].[MATHANG] ([MaMatHang], [TenMatHang], [DonGia]) VALUES (N'MH002', N'TV', CAST(8000000 AS Decimal(20, 0)))
INSERT [dbo].[MATHANG] ([MaMatHang], [TenMatHang], [DonGia]) VALUES (N'MH003', N'Máy giặt', CAST(10000000 AS Decimal(20, 0)))
GO
INSERT [dbo].[PHIEUTHUTIEN] ([MaPhieuThu], [MaDaiLy], [DienThoai], [DiaChi], [Email], [NgayThuTien], [SoTienThu]) VALUES (N'T002', N'D03', N'0482323723', N'20-Van Quan ', N'shas@gmail.com', CAST(N'2021-12-02' AS Date), CAST(40000 AS Decimal(18, 0)))
INSERT [dbo].[PHIEUTHUTIEN] ([MaPhieuThu], [MaDaiLy], [DienThoai], [DiaChi], [Email], [NgayThuTien], [SoTienThu]) VALUES (N'T003', N'D03', N'0482323723', N'20-Van Quan ', N'shas@gmail.com', CAST(N'2021-03-06' AS Date), CAST(34000 AS Decimal(18, 0)))
INSERT [dbo].[PHIEUTHUTIEN] ([MaPhieuThu], [MaDaiLy], [DienThoai], [DiaChi], [Email], [NgayThuTien], [SoTienThu]) VALUES (N'T004', N'D04', N'0328382832', N'40-Nguyen Chi Thanh', N'eee@gmail.com', CAST(N'2021-04-03' AS Date), CAST(12000 AS Decimal(18, 0)))
GO
INSERT [dbo].[PHIEUXUATHANG] ([MaPhieuXuat], [MaDaiLy], [TongTien], [NgayLapPhieu]) VALUES (N'X001', N'D02', CAST(80000 AS Decimal(18, 0)), CAST(N'2021-05-02' AS Date))
INSERT [dbo].[PHIEUXUATHANG] ([MaPhieuXuat], [MaDaiLy], [TongTien], [NgayLapPhieu]) VALUES (N'X002', N'D03', CAST(120000000 AS Decimal(18, 0)), CAST(N'2021-01-09' AS Date))
INSERT [dbo].[PHIEUXUATHANG] ([MaPhieuXuat], [MaDaiLy], [TongTien], [NgayLapPhieu]) VALUES (N'X003', N'D04', CAST(30000000 AS Decimal(18, 0)), CAST(N'2021-03-02' AS Date))
GO
INSERT [dbo].[TOCHUCDAILY] ([SoLoaiDaiLy], [SoDaiLyToiDa]) VALUES (N'7', N'8')
GO
ALTER TABLE [dbo].[CHITIETXUATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETXUATHANG_MATHANG] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MATHANG] ([MaMatHang])
GO
ALTER TABLE [dbo].[CHITIETXUATHANG] CHECK CONSTRAINT [FK_CHITIETXUATHANG_MATHANG]
GO
ALTER TABLE [dbo].[CHITIETXUATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETXUATHANG_PHIEUXUATHANG] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PHIEUXUATHANG] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[CHITIETXUATHANG] CHECK CONSTRAINT [FK_CHITIETXUATHANG_PHIEUXUATHANG]
GO
ALTER TABLE [dbo].[CONGNO]  WITH CHECK ADD  CONSTRAINT [FK_CONGNO_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[CONGNO] CHECK CONSTRAINT [FK_CONGNO_DAILY]
GO
ALTER TABLE [dbo].[DAILY]  WITH CHECK ADD  CONSTRAINT [FK_DAILY_LOAIDAILY] FOREIGN KEY([Loai])
REFERENCES [dbo].[LOAIDAILY] ([Loai])
GO
ALTER TABLE [dbo].[DAILY] CHECK CONSTRAINT [FK_DAILY_LOAIDAILY]
GO
ALTER TABLE [dbo].[DOANHSO]  WITH CHECK ADD  CONSTRAINT [FK_DOANHSO_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[DOANHSO] CHECK CONSTRAINT [FK_DOANHSO_DAILY]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_DAILY]
GO
ALTER TABLE [dbo].[PHIEUXUATHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATHANG_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[PHIEUXUATHANG] CHECK CONSTRAINT [FK_PHIEUXUATHANG_DAILY]
GO
